global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 30000
    timeout server 30000

frontend api-server-lb
    bind {{groups['lb'][0]['IP']}}:6443
    mode tcp
    option tcplog
    stats uri /haproxy?stats
    default_backend apiservers-nodes

backend apiservers-nodes
    
    mode tcp
    option tcp-check
    balance roundrobin
    {% for nodo in groups['master'] %}
    server {{ hostvars[nodo]['HOSTNAME']}} {{ hostvars[nodo]['IP'] }}:6443  check
    {% endfor %}
    